.tabs {
  width: 100%;
  height: 50px;
  display: flex;
  border: 1px solid #DFE5EC;
  border-radius: 5px;
}
.tabs__el {
  width: 50%;
  text-align: center;
  line-height: 50px;
  background-color: white;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.tabs__el:active, .tabs__el:focus {
  outline: 0;
}
.tabs__el_cheap {
  border-radius: 5px 0 0 5px;
}
.tabs__el_fast {
  border-radius: 0 5px 5px 0;
}
.active {
  background-color: #2196F3;
  color: #FFFFFF;
}