.ticket-list {
  width: 100%;
  list-style: none;
  padding: 0;
}
.loading-icon {
  width:10%;
  margin: 32px auto 0 auto;
  text-align: center;
}
.ticket-item {
  width: 100%;
  margin-top: 20px;
}
.ticket-item:first-child {
  margin-top: 0;
}